<!--
  Generated template for the DetailTab2 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail-tab2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  detail 2222
</ion-content>
