<!--
  Generated template for the DetailTab1 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail-tab1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  detail 1111
  {{incomingData}}
</ion-content>
