<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List --> {{selectedItem}}</ion-title>
    <ion-buttons>
      <button (click)="getRemoteData()">
        DATA?
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
   <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button> -->
    <button ion-item *ngFor="let item of dataProvider" (click)="itemTapped($event, item)">
      {{item.company}}
      <div class="item-note" item-right>
        {{item.isActive}}
      </div>
    </button>

  </ion-list>


</ion-content>
