<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>

  <button ion-button (click)="gotoAbout()" >AboutUs</button>

  <ion-list inset>
    <button ion-item *ngFor="let item of items" (click)="listSelectionChanged(item)">
      {{ item }}
    </button>
  </ion-list>




  <!--<ion-list>-->
    <!--<ion-item>-->
      <!--<ion-label>Gaming</ion-label>-->
      <!--<ion-select [(ngModel)]="gaming" (ionChange)="listSelectionChanged(evt)">-->
        <!--<ion-option value="nes">NES</ion-option>-->
        <!--<ion-option value="n64">Nintendo64</ion-option>-->
        <!--<ion-option value="ps">PlayStation</ion-option>-->
        <!--<ion-option value="genesis">Sega Genesis</ion-option>-->
        <!--<ion-option value="saturn">Sega Saturn</ion-option>-->
        <!--<ion-option value="snes">SNES</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->
  <!--</ion-list>-->


  <div style="background-color:rgba(45,121,196,0.7)">
    <div  [ngStyle]="{'width': '90%','background-color':'#ff7e00' }" ></div>
    <!--<div class="determinate" [ngStyle]="{'width': ((100*remedyAssetsCount)/totalAssetsCount)+'%','background-color':'#ff7e00' }" ></div>-->
  </div>

</ion-content>
