<!--
A non-root page with a nav-bar will automatically get a back button
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>
      Secondary Toolbar
    </ion-title>
    <button ion-button color="primary" (click)="goBack()">BACK</button>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-item>

    <ion-label> btu</ion-label>
    <ion-toggle checked="false"></ion-toggle>
  </ion-item>

<ion-card style="height: 50%;overflow-y:auto">
  <ion-card-header>
      Language
  </ion-card-header>
  <ion-card-content>
    <ion-list>

      <ion-item *ngFor="let item of languages" (click)="listClickHandler($event,item)">
        <ion-label>{{item}}</ion-label>
      </ion-item>
    </ion-list>


  </ion-card-content>

</ion-card>


  <ion-list style="height:50%">

    <ion-item>
      <ion-label floating>Username1</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
