
<ion-header>
<!--
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
-->
  <ion-navbar>
    <ion-title>details</ion-title>
    <ion-buttons>
      <button end (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-tabs>

  <ion-tab tabTitle="Detail_1" [root]="details1Tab" [rootParams]="routeData"></ion-tab>
  <ion-tab tabTitle="Detail_2" [root]="details2Tab" [rootParams]="routeData"></ion-tab>
</ion-tabs>
